<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="grid">
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-user-3"></i></div>
              <form action="/my-account">
                <button class="card-btn" type="submit"><span>My Account</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-edit"></i></div>
              <form action="/select-patient">
                <button class="card-btn" type="submit"><span>Order Entry</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-patient-1"></i></div>
                <form action="/patients">
                <button class="card-btn" type="submit"><span>Existing Patient</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-register"></i></div>
              <form action="/add-patient">
                <button class="card-btn" type="submit"><span>New Patient</span></button>
              </form>

            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-tube"></i></div>
              <form action="/sample-quality">
                <button class="card-btn" type="submit"><span>Sample Quality</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-science-book-1"></i></div>
              <form action="/tests">
                <button class="card-btn" type="submit"><span>Lab Test Info</span></button>
              </form>
            </div>
          </div>
        </div>

      </div>
  
<%- include('../includes/end.ejs') %>