<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="grid">
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-user-3"></i></div>
              
              <p class="card-text">
                <!-- Rome is known for its stunning <strong> architecture</strong>,
                with the Colleseum, Pantheon, and Trevi Fountain as the main
                attractions. -->
              </p>
              <form action="/my-account">
                <button class="card-btn" type="submit"><span>My Account</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">

            <div class="card-content">
                <div class="card-header"><i class="flaticon-edit"></i></div>
              <p class="card-text">
                <!-- One of the world's natural wonders, the iconic Grand Canyon draws
                oohs and aahs from visitors perched at the edge of its
                <strong>towering cliffs</strong>. -->
              </p>
              <button class="card-btn"><span>Order Entry</span></button>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-patient-1"></i></div>
              <p class="card-text">
                <!-- The Maldives are known for their
                <strong>natural environment</strong> including the blue ocean,
                white beaches, and clean air, attracting tourists. -->
              </p>
              <button class="card-btn"><span>Find Patient</span></button>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-register"></i></div>
              <p class="card-text">
                <!-- Rome is known for its stunning <strong> architecture</strong>,
                with the Colleseum, Pantheon, and Trevi Fountain as the main
                attractions. -->
              </p>
              <form action="/add-patient">
                <button class="card-btn" type="submit"><span>New Patient</span></button>
              </form>

            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-tube"></i></div>
              <p class="card-text">
                <!-- Rome is known for its stunning <strong> architecture</strong>,
                with the Colleseum, Pantheon, and Trevi Fountain as the main
                attractions. -->
              </p>
              <form action="/sample-quality">
                <button class="card-btn" type="submit"><span>Sample Quality</span></button>
              </form>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <div class="card-content">
                <div class="card-header"><i class="flaticon-science-book-1"></i></div>
              <p class="card-text">
                <!-- Rome is known for its stunning <strong> architecture</strong>,
                with the Colleseum, Pantheon, and Trevi Fountain as the main
                attractions. -->
              </p>
              <button class="card-btn"><span>Lab Test Info</span></button>
            </div>
          </div>
        </div>

      </div>
  
<%- include('../includes/end.ejs') %>