<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/bottles-copy.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/sub-nav.ejs') %>
    <div class="title">Sample Type Information</div>
    <div class="main">

    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/serum_tube2.png">
                    <h3>Serum Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>This tube is known in the lab as the SST (serum separating tube). It contains two agents; silica particles and a serum separating gel. The silica particles work to activate clotting and cause the blood cells to clump together. The serum separator consists of an inert polymer gel which floats as a layer between the blood cells and plasma to form a physical barrier between them. This means that the sample can be centrifuged (spun) in the lab and the separated serum easily removed.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/coag_tube2.png">
                    <h3>Coag Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/glucose_tube2.png">
                    <h3>Glucose Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/edta_tube2.png">
                    <h3>EDTA Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>This tube is known in the lab as the SST (serum separating tube). It contains two agents; silica particles and a serum separating gel. The silica particles work to activate clotting and cause the blood cells to clump together. The serum separator consists of an inert polymer gel which floats as a layer between the blood cells and plasma to form a physical barrier between them. This means that the sample can be centrifuged (spun) in the lab and the separated serum easily removed.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
    </body>
    </html>

  <%- include('../includes/end.ejs') %>