<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/bottles-copy.css">

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/sub-nav.ejs') %>
    <div class="title">Sample Type Information</div>
    <div class="main">

    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/serum_tube2.png">
                    <h3>Serum Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>These bottles are used for a huge variety of tests requiring separated serum for analysis, including biochemistry, endocrinology, oncology, toxicology, microbiology and immunology.</p>
                    <p>This tube is known in the lab as the SST (serum separating tube). It contains two agents; silica particles and a serum separating gel. The silica particles work to activate clotting and cause the blood cells to clump together. The serum separator consists of an inert polymer gel which floats as a layer between the blood cells and plasma to form a physical barrier between them. This means that the sample can be centrifuged (spun) in the lab and the separated serum easily removed.</p>
                         <!-- <a href="#">Read More</a> -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/coag_tube2.png">
                    <h3>Coag Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>The blue bottle is used for haematology tests involving the clotting system, which require inactivated whole blood for analysis.</p>
                    <p>Blue blood bottles contain buffered sodium citrate, which acts as a reversible anticoagulant by binding to calcium ions in the blood and subsequently disrupting the clotting cascade. Sodium citrate is also added to blood products for transfusion and acts as a preservative by stopping them from clotting in the bag.</p>
                         <!-- <a href="#">Read More</a> -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/glucose_tube2.png">
                    <h3>Glucose Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>The grey bottle is only used for two tests, so compared to the yellow one it’s fairly easy to remember! It is used for biochemistry tests requiring whole blood for analysis.</p>
                    <p>Contains two main agents. Sodium fluoride acts as an antiglycolytic agent to ensure that no further glucose breakdown occurs within the sample after it is taken. Potassium oxalate acts as an anticoagulant. Some variants of the grey bottle use EDTA as the anticoagulant instead.</p>
                         <!-- <a href="#">Read More</a> -->
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="/img/edta_tube2.png">
                    <h3>EDTA Sample</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Purple blood bottles are generally used for haematology tests where whole blood is required for analysis.</p>
                    <p>Purple blood bottles contain EDTA (ethylenediaminetetraacetic acid), which acts as a potent anticoagulant by binding to calcium in the blood. EDTA also binds metal ions in the blood and is used in chelation therapy to treat iron, lead or mercury poisoning. Its blood-binding capacity also means it can be labelled with radioisotopes and used as an EDTA scan to assess renal glomerular filtration rate.</p>
                        <!-- <a href="#">Read More</a> -->
                </div>
            </div>
        </div>
        
    </div>
</div>
    </body>
    </html>

  <%- include('../includes/end.ejs') %>