@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');



.heading{
  text-align: center;
  padding: 20px;
  font-size: 30px;
  color:#234c88;
  margin-bottom: 40px;
}

.patient_wrapper,
.patient_details_container {  
  margin: 0;
  padding-top: 0;
  margin: auto;
  width: 40rem;
  width: 900px;
  max-width: 90%;
  ;
  

}


.patient_details_container{    
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid white;
  background-color: white;
}



.patient_details{
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
  color: #c23b37 ;
  letter-spacing: 2px;;
  background-color: white;
  
  
  
}

.patient_wrapper{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  border: 1px solid #234c88;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  

}


.patient_info {    
  display: flex;
  align-items: center;
  padding: 1rem;  
  margin: 1rem;
  font-size: 8px;
  
  
  }

.patient_info_data {
  padding: 0 13px 0 20px;
  text-transform: uppercase;
  color: #234c88;
}



.patient_info p {
  font-size: 16px;
  padding-top: 1px;
  font-weight: 400;
  color: #234c88;
}

.patient_wrapper .modify_btn_box{  
  padding-left: 100px;
}

.patient_wrapper .modify_btn {
  margin: 0;  
  margin: auto;
  border: #63BCE5 solid 1px;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  
  letter-spacing: 1px;
  color: #63BCE5;
  
  
}

.patient_wrapper .modify_btn:hover {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  font-weight: 500; 
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; 
  color: #63BCE5;
  letter-spacing: 2px;
}


.tests_wrapper_header {
  background-image: linear-gradient(to right, #28559A, #63BCE5 );;
  margin: auto;
  width: 900px;
  max-width: 90%;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  display: flex;
  margin-top: 30px;
  text-transform: uppercase;
  height: 70px;   
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  
}




.tests_wrapper_header .selected {  
  color: white; 
  padding: 23px 0 0 150px;
  font-weight: 600;
  
}

.tests_wrapper_header .required {  
  color: white;;
  padding-left: 28%;
  font-weight: 600;
  padding-top:23px
  
}

.tests_wrapper{
  margin: 0;
  padding: 0;
  margin: auto;
  width: 40rem;
  width: 900px;
  max-width: 90%;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}


.tests_wrapper .tests_selected {
  
  width: 50%;
}

 .tests_wrapper .cart__item-list {
    list-style: none;
    margin: 0;
    padding: 20px 0 20px 0;
    margin: auto;
    width: 250px;
    
    /* margin: 0;
    padding: 0;   
    width: 30rem;
    max-width: 60%; */
  } 


  .tests_wrapper .cart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    /* border-bottom: dashed 1px #99abbf; */
    margin-bottom: 0.2rem;
    margin-left: 2rem;
    background-image: linear-gradient(to right, #eaeaea, white );
    border-radius: 10px;
  }
  .tests_wrapper .cart__item:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    
    border:none;
  }

  .tests_wrapper .cart__item h1,
  .cart__item h2 {
    margin-right: 1rem;
    font-size: 1rem;
    margin: 0;
    color: #234c88;
  }

  .tests_wrapper .cart__item .deleteBtn{
    border:none;
    background-color: transparent
  }
  .tests_wrapper .cart__item .deleteBtn i:hover{
    color: red;    
  }


  .tests_wrapper .cart__item .deleteBtn i {
    
    color: #c23b37;
  }
  
  .tests_wrapper .tubes_container{
    /* background-color: salmon; */
    width: 50%;    
    
  }

  .tests_wrapper .tubes_container .tubes_required{
    display: flex;
    margin:0 auto;
    justify-content: center;
    padding-top: 20px;

  }
  
  .tests_wrapper .tubes_container .tubes_required .tube_image {
    padding: 0 20px 0 20px;
  }

  .tests_wrapper .tubes_container .tubes_required .tubeNo  {    
    /* box-shadow: 0px 1px 1px #778aa9;
    border-radius: 10px; */
    width: auto;
    height:auto;
    font-size: 20px;
    text-align: center;
    color:#234c88;
    text-align: center;
       
  }

  .centered .orderBtn{    
    color:#c23b37;
    margin: 20px 38px 0;
    border: 2px solid #c23b37;
    background-color: white;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    border-radius: 10px;;
    
  }

  .centered .orderBtn:hover{
    background-color:  #c23b37;
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  }



 
  
















  img {
    opacity: 0;
    filter: alpha(opacity=40);
  }
  
  