@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }


.box1{
    background-image: linear-gradient(to right, #28559A, #63BCE5 );
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.45);
}

.box2{
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.45);
    
}

.box3{
    background-color: transparent;
    
    height:500px;
    

}

.wrapper{
    position: absolute;
    top: 20%;
    left: 14%;    
    margin-top: 50px;
    /* margin-top: -50px;
    margin-left: -50px; */
    
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 280px 590px 300px ;
    grid-template-rows: 500px 1fr 1fr;
    grid-gap: 40px;
    grid-template-areas: 
    "box1 box2 box3"
    "box1 box2 box3";

}

.box1 .header{
    background-image: linear-gradient(to right, #28559A, #63BCE5 );
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    
}

.box1 .header h3{
    text-align: center;    
    font-size: 20px;
    color: white;
    padding: 23px 0 0 10px;
    letter-spacing: 2px;
}


.box1 {
    grid-area:box1;
    border-radius: 20px;
    
}

.box2{
    grid-area:box2;
    border-radius: 20px;
}

.box3{
    grid-area:box3;
    border-radius: 20px;
    
}

.box4{
    grid-area:box4;
}


.grid-container .box1 .inner {
    align-items: center;
    display: block;
    padding:0px;
    text-align: center;
   
}

.grid-container .box1 .inner .info{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px dashed #28559A;
    background-color: white;
    overflow:  break-word;
    ;
    /* overflow:  auto; */


}
/* 
.grid-container .box1 .inner .info .title{
    padding-right: 15px;
    text-align: center;
    background-color: transparent;
    padding: 15px;
    
} */


.grid-container .box1 .inner .info h2{
    color: #28559A;
    font-size: 13px;
    text-transform: uppercase;
    
    
}

.grid-container .box1 .inner .info p{
    font-size: 15px;
    padding: 15px;
    color: rgb(133, 133, 133);
    font-weight: 500;
}

.grid-container .box1 .inner .btnBox{
    border: none;
    background-color: transparent;
    padding: 20px;
    align-items:center;
    
}

.grid-container .box1 .inner .btnBox .editBtn{
    width: 70%;
    color:white;
    margin: 20px 38px 0;
    border: 2px solid white;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 7px 7px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
  }

  .grid-container .box1 .inner .btnBox .editBtn:hover{
    background-color:  white;
    color: #28559A;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.45);
    letter-spacing: 3px;
    font-weight: 500;
    
  }

.grid-container .box1 .inner .btnBox a{
    text-decoration: none;
    color:white;

        
}

/* Create buttons to open specific tab content*/
/* Style the buttons that are used in the tab content*/

.tab {
    overflow: hidden;    	
    display: flex;
	align-items: stretch;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
  }
.tab .tablinks {
    background: #3778C2;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    color: rgb(188, 222, 231);
    font-size: 12px; 
	font-weight: 600;
    width:100%;
    text-transform: uppercase;
    transition: all 0.3s;
    height: 70px;
    letter-spacing: 1px;
    
	
    
  }

/* Change background color of buttons on hover */
.tab .tablinks:hover {    
	color: rgb(255, 254, 254);
    letter-spacing: 2px;
    background-color: #28559A;
    box-shadow: 0px 18px 18px 18px rgba(0, 0, 0, 0.45);
    
  }

  /* Create an active/current tablink class */
.tab .tablinks:active, .tablinks:focus {
    border-bottom-color: rgb(36, 107, 148);
	background:#28559A;
	color: rgb(255, 254, 254);
    letter-spacing: 2px;
    box-shadow: 0px 18px 18px 18px rgba(0, 0, 0, 0.45);
    

    
  }

  /* Style the tab content */
.tabcontent {
    /* display: none; */
    padding: 0 0 0 25px;
    border-top: none;
    position:relative;
    animation:animatebottom 0.4s;
    
    
  }

  .tabcontent .test {
      border: none;
      padding: 9px;
      margin: 10px;
      width: 150px;
      border-radius: 10px;
  }

  .tabcontent .radio-toolbar{
      margin:10px;
  }



  /* .tabcontent .test:focus, .test:active, .test:visited {
    background-color: rgb(43, 156, 184);
    color:white;
} */

.testBtn{
    border-radius: 20px;
    width: 180px;
    margin:10px;
    padding: 3px;
    border: none;
    box-shadow: 0.8px 1px 1px 0px  #28559A;
    font-weight: 500;
    margin-left: 40px;
    background-color: white;
    color: #28559A;
}



  .testBtn:hover {
    background-color: #8bbde2
    ;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 600;
    color: white;
  }
  
  .testBtn:focus {
    background-color: #8bbde2;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
  } 
  
  .testBtn:active, .testBtn:visited {
    background-color: #8bbde2;
    border: none;
    color: white;
  }
  
  .activeBtn {
    background: #8bbde2; 
    border: none;
    color: white;
  }

  .box3 .samples-header{     
      background-image: linear-gradient(to right, #28559A, #63BCE5 );
      height: 70px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      display: flex;
      align-items: center;
      width: 100%;
      
  }
  .box3 .samples-header h3{       
    text-align: center;    
    font-size: 18px;
    color: white;
    padding-left: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


  .box3 .samples {     
     border-bottom-right-radius: 30px;
     border-bottom-left-radius: 30px;
     background-image: linear-gradient(to right, #28559A, #63BCE5 );
    padding-bottom: 10px;;
     box-shadow: 0 2px 16px rgba(0, 0, 0, 0.45)
         
      
  }

  .box3 .samples .tubes {
      margin-left: 20px;
      margin-top: 30px;
      display: inline-block;
  }



  .box3 .cartBtnBx {
    text-align: center;
    padding-top: 30px;
  }

  .box3 .cartBtn{
    width: 70%;
    background-image: linear-gradient(to right, #28559A, #63BCE5 );
    margin: 20px 38px 0;
    border: 2px solid white;
    background-color: transparent;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 12px 7px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    color:white
  }
  
  .box3 .cartBtn:hover {
    background-color: white;
    color: #28559A;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.45);
    letter-spacing: 3px;
    font-weight: 500;
  }
  
  .box3 .cartBtn:active {
    color: black;
  }
  
  .box3 .cartBtn:visited {
    color: purple;
  }

  .hidden{display:none;}
  .show{display:block}

  img {
    opacity: 0;
    filter: alpha(opacity=40);
    
  } 
  .img-tube{
   
   height: 80px;
  }
    




























  /* .wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1500px;
    height: 800px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    background-color: tomato;
        
}

.wrapper .patient_details {
    position: relative;
    background-color: thistle;
    height: 100%;
    width: 20%;
}

.wrapper .patient_details .header{
    height: 100px;
    background-color: teal;
    color:white;
    border-bottom: solid yellow;
}

.wrapper .patient_details .header h4{
    font-size: 30px;
    padding: 33px 0px 0px 20px;
    
}

.wrapper .patient_details .patient_info{
    margin-top: 40px;
    margin-left: 20px;
    background-color: wheat;
    
}

.wrapper .patient_details .info_item{
    margin-top: 40px;
    background-color: wheat;
    border-bottom: solid red;
    border-top:solid red ;    
}
.wrapper .patient_details  .info_item h3{
    font-size: 25px;
    margin-bottom: 10px;
    
    text-transform: uppercase; 
    text-align: center;
    
}
.wrapper .patient_details  .info_item p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
      
}
.wrapper .tests {
    position: relative;
    
    background-color: thistle;
    height: 100%;
    width: 20%;
} */
