@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }


.box1{
    background-color: rgb(166, 197, 209);
}

.box2{
    background-color: rgb(166, 197, 209);
}

.box3{
    background-color:rgb(166, 197, 209);
    height:200px;

}
.box4{
    background-color:orange;

}
.wrapper{
    position: absolute;
    top: 20%;
    left: 18%; 
    /* margin-top: -50px;
    margin-left: -50px; */
    
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 550px 250px ;
    grid-template-rows: 500px 1fr 1fr;
    grid-gap: 40px;
    grid-template-areas: 
    "box1 box2 box3"
    "box1 box2 box3";

}

.box1 .header{
    background-color: rgb(58,105,124);
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box1 .header h3{
    /* text-align: center; */
    padding: 10px;
    font-size: 20px;

    color: white;
}


.box1 {
    grid-area:box1;
    border-radius: 20px;
    
}

.box2{
    grid-area:box2;
    border-radius: 20px;
}

.box3{
    grid-area:box3;
    border-radius: 20px;
}

.box4{
    grid-area:box4;
}


.grid-container .box1 .inner {
    align-items: center;
    display: block;
    padding:0px;
   
}

.grid-container .box1 .inner .info{
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid white;
    overflow: auto;
}
/* 
.grid-container .box1 .inner .info .title{
    padding-right: 15px;
    text-align: center;
    background-color: transparent;
    padding: 15px;
    
} */

.grid-container .box1 .inner .info h2{
    color: rgb(16, 82, 82);
    font-size: 13px;
    text-transform: uppercase;
    
    
}

.grid-container .box1 .inner .info p{
    font-size: 13px;
    padding: 15px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.grid-container .box1 .inner .btnBox{
    border: none;
    background-color: transparent;
    padding: 20px;
    align-items:center;
}

.grid-container .box1 .inner .btnBox .editBtn{
    width: 70%;
    color:rgb(133,172,187);
    margin: 20px 38px 0;
    border: 2px solid rgb(133,172,187);
    background-color: white;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 7px 7px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
  }

  .grid-container .box1 .inner .btnBox .editBtn:hover{
    background-color:  rgb(133,172,187);
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
    
  }

.grid-container .box1 .inner .btnBox a{
    text-decoration: none;
    color:rgb(16, 82, 82);

        
}

/* Create buttons to open specific tab content*/
/* Style the buttons that are used in the tab content*/

.tab {
    overflow: hidden;
    padding: 0;
	border-bottom: 1px solid #ccc;
    display: flex;
	align-items: stretch;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
  }
.tab button {
    background: rgb(86, 141, 158);
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    color: rgb(188, 222, 231);
    font-size: 12px; 
	font-weight: 600;
    width:100%;
    text-transform: uppercase;
    transition: all 0.3s;
    height: 70px;
	
    
  }

/* Change background color of buttons on hover */
.tab button:hover {
    border-top-color: rgb(255, 254, 254);
	color: rgb(255, 254, 254);
  }

  /* Create an active/current tablink class */
.tab button:active, button:focus {
    border-bottom-color: rgb(36, 107, 148);
	border-top-color: #B721FF;
	background:rgb(46, 91, 109);
	color: rgb(255, 254, 254);
  }

  /* Style the tab content */
.tabcontent {
    /* display: none; */
    padding: 6px 12px;
    border-top: none;
    /* position:relative;
    animation:animatebottom 0.4s */
  }

  .tabcontent .test {
      border: none;
      padding: 9px;
      margin: 10px;
      width: 150px;
      border-radius: 10px;
  }

  .tabcontent .radio-toolbar{
      margin:10px;
  }

  .tabcontent .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .tabcontent .radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    font-size: 13px;
    border: 2px solid #444;
    margin: 10px;
    border: none;
    padding: 9px;
    margin: 10px;
    width: 130px;
    border-radius: 10px;
}

.tabcontent .radio-toolbar label:hover {
  background-color: #dfd;
}

.tabcontent .radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.tabcontent .radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
 





  /* .tabcontent .test:focus, .test:active, .test:visited {
    background-color: rgb(43, 156, 184);
    color:white;
} */
.testBtn{
    border-radius: 20px;
    width: 180px;
    margin:10px;
    padding: 3px;
    border: none;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    font-weight: 500;
    margin-left: 40px;
}



  .testBtn:hover {
    background-color: rgba(92, 177, 180, 0.6);
  }
  
  .testBtn:focus {
    background-color: rgba(92, 177, 180, 0.6);
    border: none;
  } 
  
  .testBtn:active, .testBtn:visited {
    background-color: rgba(92, 177, 180, 0.6);
    border: none;
  }
  
  .activeBtn {
    background: rgba(92, 177, 180, 0.6); 
  }

  .box3 .samples-header{
      text-align: center;
      text-transform: uppercase;
      margin-top: 10px;
      padding-top: 10px;
      font-size: 15px;
      color: white;
      
  }


  .box3 .samples {
      background-color: white;
      height: 200px;
      margin-top: 10%;
      border-radius: 30px;
      border: dashed rgba(92, 177, 180, 0.6);
      
  }

  .box3 .samples .tubes {
      margin-left: 20px;
      margin-top: 30px;
  }



  .box3 .cartBtn {
    font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  }
  
  .box3 .cartBtn a:hover {
    text-decoration: underline;
  }
  
  .box3 .cartBtn a:active {
    color: black;
  }
  
  .box3 .cartBtn a:visited {
    color: purple;
  }
    




























  /* .wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1500px;
    height: 800px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    background-color: tomato;
        
}

.wrapper .patient_details {
    position: relative;
    background-color: thistle;
    height: 100%;
    width: 20%;
}

.wrapper .patient_details .header{
    height: 100px;
    background-color: teal;
    color:white;
    border-bottom: solid yellow;
}

.wrapper .patient_details .header h4{
    font-size: 30px;
    padding: 33px 0px 0px 20px;
    
}

.wrapper .patient_details .patient_info{
    margin-top: 40px;
    margin-left: 20px;
    background-color: wheat;
    
}

.wrapper .patient_details .info_item{
    margin-top: 40px;
    background-color: wheat;
    border-bottom: solid red;
    border-top:solid red ;    
}
.wrapper .patient_details  .info_item h3{
    font-size: 25px;
    margin-bottom: 10px;
    
    text-transform: uppercase; 
    text-align: center;
    
}
.wrapper .patient_details  .info_item p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
      
}
.wrapper .tests {
    position: relative;
    
    background-color: thistle;
    height: 100%;
    width: 20%;
} */
