.title{
  padding: 40px 0;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color:white;
  text-transform: uppercase;
  letter-spacing: 2px;
 
}

.main {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
span{  
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(to right, #28559A, #63BCE5 );
  padding: 2px 20px 2px 20px;
  border-radius: 20px;;
  
}
.container {
  width: 60%;
  height: auto;
  background: white;
  margin: auto;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  padding: 50px;
  border-radius: 20px;
}

.container .image-container{
  width: 15%;
  height: 400px;
  background: white;
  float: left;
  text-align: center;
  justify-content: center;

}
.container .image-container .imag{
  padding: 10px;
  background-color: #759BD2;
  border-radius: 100%;
}

.container .image-container .sample-type{
  padding-top: 15px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3778C2;
}

.text-container{
  margin-left: 15%;
  height: auto;
  background: white;
}

.text-container .test-info{
  margin-left: 60px;
  padding: 20px;;
}


.text-container .info{

}

.text-container .test-info h4{
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 3px solid #e0e0e0;
  font-size:19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3778C2;
}

.text-container .test-info p  {
   font-size: 16px;
   color: #919aa3;
   padding-bottom: 13px;
}



